<section id="reciente" class="section section-popular scrollspy" #scrollspy>
    <div class="container">
      <div class="row">
        <h4 class="center">
          <span class="teal-text-blue">Fiestas</span> Recientes</h4>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img height="250px" width="195" src="https://scontent.fmex10-1.fna.fbcdn.net/v/t1.0-9/1186179_10202044073087871_638336579_n.jpg?_nc_cat=0&oh=bbfb4248597546b15fb2d6def70b813e&oe=5BC59F2E"
                alt="fiesta bautizo">
              <span class="card-title">CDMX</span>
            </div>
            <div class="card-content">
              <p>
                <b>Festejado:
                  <span class="teal-text-blue">Kary</span>
                </b>
              </p>
              <p>
                <br> Personas: 150
                <br> 15 mesas Adulto
                <br> 3 mesas Infantil
                <br> Adorno:
                <b>
                  <span class="teal-text-blue">Enredados</span>
                </b>

              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img height="229px" width="195" src="https://scontent.fmex10-1.fna.fbcdn.net/v/t1.0-9/13043554_997276287034129_8138249630792101910_n.jpg?_nc_cat=0&oh=92f036901ada48d57c123da3096b59ca&oe=5BCBC854"
                alt="fiesta bautizo">
              <span class="card-title">Edo Mex</span>
            </div>
            <div class="card-content">
              <p>
                <b>Festejado:
                  <span class="teal-text-blue">Leonardo</span>
                </b>
              </p>
              <p>
                <br> Personas: 100
                <br> 10 mesas Adulto
                <br> 2 mesas Infantil
                <br> Adorno:
                <b>
                  <span class="teal-text-blue">Bautizo/Spiderman</span>
                </b>
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img height="229" width="195" src="https://scontent.fmex10-1.fna.fbcdn.net/v/t1.0-9/1004571_456388124456284_1401083337_n.jpg?_nc_cat=0&oh=c88373aba08c44b1e0775685c6cf7cc5&oe=5BD0EDA4"
                alt="fiesta bautizo">
              <span class="card-title">CDMX</span>
            </div>
            <div class="card-content">
              <p>
                <b>Festejado:
                  <span class="teal-text-blue">Andrea</span>
                </b>
              </p>
              <p>
                <br> Personas: 80
                <br> 8 mesas Adulto
                <br> 2 mesas Infantil
                <br> Adorno:
                <b>
                  <span class="teal-text-blue">Tinkerbell/Piratas</span>
                </b>
              </p>
            </div>
          </div>
        </div>



      </div>
    </div>
  </section>
