<div id="inicio" class="scrollspy" #scrollspy>

  <!-- Navbar -->
  <div class="navbar-fixed">
    <nav class="teal-blue">
      <div class="container">
        <div class="nav-wrapper">
          <img id="logo" src="https://res.cloudinary.com/casher0009ironhack/image/upload/v1533254129/logo_partygo.png" alt="partygo Logo">
          <a href="#" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="#inicio">Inicio</a>
            </li>
            <li>
              <a href="#reciente">Fiestas Recientes</a>
            </li>
            <li>
              <a href="#galeria">Galeria</a>
            </li>
            <li>
              <a href="#contacto">Contacto</a>
            </li>
            <li>
              <a [routerLink]="['signup']"> Arma tu fiesta!! </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-nav" #sidenav>
    <li>
      <a [routerLink]="['signup']"> Arma tu fiesta!! </a>
    </li>


    <li>
      <a href="#reciente">Fiestas Recientes</a>
    </li>
    <li>
      <a href="#galeria">Galeria</a>
    </li>
    <li>
      <a href="#contacto">Contacto</a>
    </li>
  </ul>

  <!-- Slider -->

  <app-slides></app-slides>

  <section class="section section-follow teal-blue darken-2 white-text center">
    <a [routerLink]="['signup']">
      <h5 id="Order"> >>Pide tu fiesta ahora mismo!!
        << </h5>
    </a>

  </section>

  <!-- Icon Boxes -->
  <section class="section section-icons grey lighten-4 center">
    <div class="container">
      <div class="row">
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="material-icons large teal-text-blue">room</i>
            <h4>Vamos</h4>
            <p>Donde lo requieras,
              <br> ahi estará un organizador para apoyarte</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="material-icons large teal-text-blue">local_shipping</i>
            <h4>Monitoreo GPS</h4>
            <p>Sabras donde viene tu fiesta, y en cuanto llegará</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="material-icons large teal-text-blue">child_care</i>
            <h4>Actitud</h4>
            <p>Es una fiesta!!!
              <br> por eso siempre nos veras alegres</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-follow teal-blue darken-2 white-text center">
  </section>

  <!-- Reciente -->
  <app-cards></app-cards>


  <section class="section section-follow teal-blue darken-2 white-text center">
  </section>

  <!--  galeria -->
  <section id="galeria" class="section section-gallery scrollspy" #scrollspy>
    <div class="container">
      <h4 class="center">
        <span class="teal-text-blue">Nuestras</span> Fiestas</h4>
      <div class="row">
        <h5 class="center">
           Fiestas para<span class="teal-text-blue">Niñas</span></h5>

        <div class="col s12 m3">

          <img src="https://i.pinimg.com/originals/81/a3/c5/81a3c5a21a97c7432fb3b8e2cf3dca36.jpg" alt="random image" class="materialboxed responsive-img"
            #materialboxed>
        </div>
        <div class="col s12 m3">
          <img src="https://i.pinimg.com/564x/3d/3a/e6/3d3ae6b35948bf14e955292aa46b39ab.jpg" alt="random image" class="materialboxed responsive-img"
            #materialboxed>
        </div>
        <div class="col s12 m3">
          <img src="https://i.pinimg.com/originals/89/8c/13/898c134881432eda8192355d4437b24e.jpg" alt="random image" class="materialboxed responsive-img"
            #materialboxed>
        </div>
        <div class="col s12 m3">
          <img src="https://i.pinimg.com/originals/d3/d3/99/d3d3998b66a0197c46a93ad923fe6bc2.jpg" alt="random image" class="materialboxed responsive-img"
            #materialboxed>
        </div>

      </div>
      <div class="row">
        <h5 class="center">
           Fiesta para<span class="teal-text-blue">Niños</span></h5>

        <div class="col s12 m3">
          <img src="https://i.pinimg.com/originals/89/c4/59/89c45905e181884c2c0cd6f0707fecb7.jpg" alt="random image" class="materialboxed responsive-img"
            #materialboxed>
        </div>
        <div class="col s12 m3">
          <img src="https://www.pequeocio.com/wp-content/uploads/2015/07/Fiesta-los-Vengadores-1.jpg" alt="random image" class="materialboxed responsive-img"
            #materialboxed>
        </div>
        <div class="col s12 m3">
          <img src="https://www.funidelia.es/blog/wp-content/uploads/2015/07/portada-fiesta-mario-bros.jpg" alt="random image" class="materialboxed responsive-img"
            #materialboxed>
        </div>
        <div class="col s12 m3">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScMZ-hBNiaMDyqLmC8qbgsVgqoDK4PzF6eMr4615tSlu7ubk5c" alt="random image"
            class="materialboxed responsive-img" #materialboxed>
        </div>

      </div>
      <div class="row">
        <h5 class="center">
           Fiestas<span class="teal-text-blue">Formales</span></h5>

        <div class="col s12 m3">
          <img src="https://i.pinimg.com/originals/e5/79/b3/e579b3a85e60758e7fb47bdc320fe658.jpg" alt="random image" class="materialboxed responsive-img"
            #materialboxed>
        </div>
        <div class="col s12 m3">
          <img src="https://www.inolvidables15.com/miscelaneas/contenidos/imagart/mnatel%20imagen_opt.jpg" alt="random image" class="materialboxed responsive-img"
            #materialboxed>
        </div>
        <div class="col s12 m3">
          <img src="http://1.bp.blogspot.com/-J7TaGUpk-hI/WDJcKMV0GzI/AAAAAAAADF0/z9O1w5qdfU0ynNelL0XOTIzvRdOoEKnNwCK4B/s1600/fiesta-50-a%25C3%25B1os.jpg"
            alt="random image" class="materialboxed responsive-img" #materialboxed>
        </div>
        <div class="col s12 m3">
          <img src="https://photos-cdn.catchmyparty.com/PL/photos/0182/9965/photo_1__13_.jpg" alt="random image" class="materialboxed responsive-img"
            #materialboxed>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-follow teal-blue darken-2 white-text center">
  </section>

  <!-- Contacto -->
  <section id="contacto" class="section section-contacto scrollspy" #scrollspy>
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>Partygo S.A.</h4>
            </li>
            <li class="collection-item">Prol las flores 29</li>
            <li class="collection-item">San Rafael Chamapa</li>
            <li class="collection-item">Naucalpan, Mex 53660</li>
          </ul>
        </div>
        <div class="col s12 m6">

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7427.521640642559!2d-99.25732362400144!3d19.459530580633267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d203bd90be5b5f%3A0x7c30dcd45d984347!2sProl.+de+Las+Flores+29%2C+San+Rafael+Chamapa%2C+53660+Naucalpan+de+Ju%C3%A1rez%2C+M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1533544024629"
            width="340" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>

      </div>
    </div>
  </section>

  <!-- Footer -->
  <app-footer></app-footer>

</div>