.parallax-container {
  height: "50%";
}

.teal-blue {
  background-color: rgb(5, 112, 184);
}
.teal-text-blue {
  color: rgb(5, 112, 184);
}

#logo {
  height: 18vh;
}

.sidenav {
  color: white !important;
  background-color: rgb(5, 112, 184) !important;
}
.sidenav li a {
  color: white !important;
}

#Order {
  color: aliceblue;
}
