<div  *ngIf="user" class="navbar-fixed">
  <nav>

    <div class="container">
      <div class="nav-wrapper">
        <img (click)="home()" id="logo" src="https://res.cloudinary.com/casher0009ironhack/image/upload/v1533254129/logo_partygo.png" alt="partygo Logo">
        <a href="#" class="sidenav-trigger" data-target="mobile-nav">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a (click)="help()" > Ayuda </a>
          </li>
          <li>
            <a (click)="logout(); home()"> Salir </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-nav" #sidenav>
  <li>
    <a [routerLink]="['new']"> Nueva Fiesta </a>
  </li>
  <li>
    <a [routerLink]="['help']"> Ayuda </a>
  </li>
  <li>
    <a (click)="logout()" [routerLink]="['']"> Salir </a>
  </li>

</ul>




<div *ngIf="!user" class="navbar-fixed">
    <nav >

    <div class="container">
      <div class="nav-wrapper">
        <img (click)="home()" id="logo" src="https://res.cloudinary.com/casher0009ironhack/image/upload/v1533254129/logo_partygo.png" alt="partygo Logo">
        <ul class="right hide-on-med-and-down">
        </ul>
      </div>
    </div>
  </nav>
