
<!-- <nav *ngIf="user" > -->
<nav class="sidenav" >
        <img (click)="home()" height="80px" src="https://res.cloudinary.com/casher0009ironhack/image/upload/v1533254129/logo_partygo.png"
          alt="partygo Logo">

  <ul>
    <li>
        <a [routerLink]="['signup']"> Entrar </a>
      </li>
  
    <li>
      <a [routerLink]="['newOrder']"> Nueva Orden </a>
    </li>
    <li>
      <a [routerLink]="['profile']"> Perfil </a>
    </li>
    <li>
      <a [routerLink]="['help']"> Ayuda </a>
    </li>
    <li>
        <a (click)="logout()" [routerLink]="['']"> Salir </a>
      </li>
  


  </ul>
</nav>