

<app-navbar>

</app-navbar>



<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
    <label for="tab-1" class="tab">Entra</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up">
    <label for="tab-2" class="tab">Registrate</label>
    <div class="login-form">
      <div class="sign-in-htm">
        <div class="group">
          <label for="user" class="label">Email</label>
          <input [(ngModel)]="form.email" type="email" id="user" class="input">
        </div>
        <div class="group">
          <label for="pass" class="label">Contraseña</label>
          <input id="pass" [(ngModel)]="form.password" type="password" class="input">
        </div>
        <div class="group">
        </div>
        <div class="group">
          <input type="submit" (click)="login()" class="button" value="Entrar">
          <h5 style="color:white"> Acceso con redes sociales
          </h5>
          <div id="social">

            <p>
                <img height="70px" src="https://cdn4.iconfinder.com/data/icons/miu-gloss-social/60/facebook-512.png" (click)="loginWithFacebook()">
                <img height="70px" src="https://cdn0.iconfinder.com/data/icons/social-networks-and-media-flat-icons/136/Social_Media_Socialmedia_network_share_socialnetwork_network-15-512.png">
              </p>
          </div>
  
        </div>
      </div>
      <div class="sign-up-htm">
          <div class="group">
              <label for="pass" class="label">Email</label>
              <input [(ngModel)]="form2.email" type="email" class="input">
            </div>
        <div class="group">
          <label for="user" class="label">Nombre de Usuario</label>
          <input [(ngModel)]="form2.username" type="text" class="input">
        </div>
        <div class="group">
          <label for="pass" class="label">Contraseña</label>
          <input [(ngModel)]="form2.password" type="password" class="input" >
        </div>
        <div class="group">
        </div>
        <div class="group">
          <input type="submit" (click)="signUp()" class="button" value="Ok">
        </div>
      </div>
    </div>
  </div>
</div>
