<h1 *ngIf="user"> Bienvenido {{user.username}}</h1>

<section>
  <div *ngIf="isLogged">

    <h2>Inicia sesión</h2><br>
    <input placeholder="email" [(ngModel)]="form.email" type="text">
    <br>
    <input placeholder="tu password" [(ngModel)]="form.password" type="password">
    <br>
    <button (click)="login()">Entrar</button>
    <br>
    <h2>
      Acceso con redes sociales
    </h2>
    <p>
      <img height="80px" src="https://cdn4.iconfinder.com/data/icons/miu-gloss-social/60/facebook-512.png" (click)="loginWithFacebook()">
    </p>
    <!-- <h2>
      Entra con Google
      <button (click)="loginWithGoogle()">Facebook Login</button>
    </h2> -->
    <p>No tienes cuenta?
      <span (click)="isLogged=!isLogged">Click aquí</span>
    </p>
  </div>

  <div *ngIf="!isLogged">
    <h2>Registrate</h2>
    <br>
    <input [(ngModel)]="form.username" placeholder="username" type="text">
    <br>
    <input placeholder="email" [(ngModel)]="form.email" type="text">
    <br>
    <input placeholder="tu password" [(ngModel)]="form.password" type="password">
    <br>
    <button (click)="signUp()">Registrarme</button>
    <br>
    <p>Ya tienes cuenta?
      <span (click)="isLogged=!isLogged">Click aquí</span>
    </p>
  </div>



</section>