        <app-navbar></app-navbar>
        
        <section >
        <div class="ayuda col s12 m6">
          <div class="card-panel grey lighten-3">
            <h5>Necesitas ayuda??
              <br> Dejanos un Mensaje</h5>
            <div class="input-field">
              <input type="text">
              <label>Nombre</label>
            </div>
            <div class="input-field">
              <input type="text">
              <label>Email</label>
            </div>
            <div class="input-field">
              <input type="text">
              <label>Telefono</label>
            </div>
            <div class="input-field">
              <textarea class="materialize-textarea"></textarea>
              <label>En que te podemos ayudar?</label>
            </div>
            <input type="submit" value="Enviar" class="btn">
          </div>
        </div>
      </section>