<section class="slider" #slider>
    <ul class="slides">
      <li>
        <img src="https://i.ytimg.com/vi/6LfL74Pf8E8/maxresdefault.jpg">
        <div class="caption center-align">
          <h2 id="firstPhoto">La Fiesta De Tus Sueños</h2>
          <h5 id="firstPhoto-sub" class="light grey-text text-lighten-3 hide-on-small-only">
            <blockquote>
              <b> Hacemos que la fiesta de tus sueños este a un click de distancia!!!</b>
            </blockquote>
          </h5>
        </div>
      </li>
      <li>
        <img src="http://www.svcmscentral.com/SVsitefiles/elsdgato/contenido/med/999d61_decoracion-de-fiestas-infantiles-en-bogota.jpg">
        <div id="secondPhoto" class="caption left-align">
          <h2>Siempre Sabras Cuanto Vas Ga$tar</h2>
          <h5 id="secondPhoto-sub" class="light grey-text text-lighten-3 hide-on-small-only">
            <blockquote class="quo1">
              <b>Planifica, crea y disfruta, Nosotros nos encargamos del resto</b>
            </blockquote>
          </h5>
        </div>
      </li>
      <li>
        <img src="http://photos.catchmyparty-cdn.com/PL/photos/0106/2676/002.jpg">
        <div id="thirdPhoto" class="caption left-align">
          <h2>Infantil, Casual o Formal
            <br> Tu Eliges</h2>
          <h5 id="thirdPhoto-sub" class="light grey-text text-lighten-3 hide-on-small-only">
            <blockquote>
              <b>Cumpleaños, Bodas, Graduaciones
                <br> Cada evento es único
                <br> Crearemos para ti una experiencia
                <br> inolvidable</b>
            </blockquote>
          </h5>
        </div>
      </li>
    </ul>
  </section>